In [1]:
import pandas as pd
df=pd.read_csv("automobiles.csv")
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [2]:
# dummies=pd.get_dummies(df["num-of-doors"])
# dummies

df.columns

Index(['symboling', 'normalized-losses', 'make', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price',
       'city-L/100km', 'horsepower-binned', 'diesel', 'gas'],
      dtype='object')

In [3]:
# X=df[["highway-mpg"]]#LinearRegression
X=df[["highway-mpg","horsepower"]]#Multiple LinearRegression
Y=df[["price"]]
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=4)
X_train.head()

     highway-mpg  horsepower
134           36        69.0
180           46        52.0
158           34        70.0
189           31        88.0
89            37        69.0

In [4]:
#Linear regression
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train,Y_train)
Yhat=lm.predict(X_test)
# print(Yhat[0:5])

In [5]:
#Checking accuracy of LinearRegression
print("R2 error of X_train and Y_train :",lm.score(X_train,Y_train))

R2 error of X_train and Y_train : 0.6559299555265672

In [7]:
#Linear regression
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train,Y_train)
Yhat=lm.predict(X_test)
# print(Yhat[0:5])

#Checking accuracy of LinearRegression
print("R2 error of X_train and Y_train :",lm.score(X_train,Y_train))

R2 error of X_train and Y_train : 0.6559299555265672

In [17]:
import numpy as np

In [22]:
print(np.shape(X_train))
print(np.shape(X_test))
print(np.shape(Y_train))
print(np.shape(Y_test))
print(np.shape(Yhat))
#          X_test,Y_test,Y_train)

(160, 2)
(41, 2)
(160, 1)
(41, 1)
(41, 1)

In [23]:
#LinearRegression
from sklearn.metrics import mean_squared_error
mseTest=mean_squared_error(Y_test,Yhat)
print("Testing mean_squared_error= ",mseTest)

Testing mean_squared_error=  26944280.213265825

In [ ]:
#Visualizing LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
plt.title("Scatter plot")
plt.xlabel("highway-mpg")
plt.ylabel("price")
# plt.scatter(X_train,Y_train)#Both 2D input
# plt.scatter(df["highway-mpg"],df["price"])#Both 1D input
# sns.regplot(X_train,Y_train)# 1D or 2D input 
# sns.scatterplot(df["highway-mpg"],df["price"])#takes 1D column input
# sns.residplot(df["highway-mpg"],df["price"])#Inputs must be 1D #Good way to visualize variance of data

#Plotting the distplot
# ax1=sns.distplot(df["price"],hist=False,color="r",label="Actual Value")
# sns.distplot(Yhat,hist=False,color="b",label="Fitted Values",ax=ax1)
# plt.title("Actual vs Fitted values for price")